*{
	box-sizing:border-box;
}
html,body{
	height: 100%;
}
.main{
	width: 50%;
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.main>div{
	margin-top:20px;
}
.number #minNum,.number #maxNum{
	width: 40%;
}
@media screen and (max-width: 900px){
	.main{
		width: 80%;
	}
}
@media screen and (max-width: 500px){
	.main{
		width: 100%;
	}
	.number #minNum,.number #maxNum{
		width: 30%;
	}
}
input{
	box-shadow: none;
}
input[type="text"] {
  display: inline-block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
#start {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#start:focus,
#start:active:focus,
#start.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#start {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
#start:hover,
#start:focus,
#start:active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
#decimalNum,#numbers{
	width: 100px;
}
.col-md-6,.col-md-3{
	display: inline-block;
}
#result{
	width:100%; 
	word-wrap:break-word;
}